<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adetech</title>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="{{ url_for('static', filename='main.css') }}" rel="stylesheet">
</head>
<body>
    <header class="flex-box shadow">
        <h1>Posty</h1>
        <nav>
            <a id="new" href="{{ url_for('post_add') }}">+</a>
        </nav>
    </header>
    <main class="container">

        {% for post in posts%}
            <article class="post shadow">
                <div id="author" class="flex-box">
                    <img src={{post.photo_url}} alt={{post.name}}>
                    <h2>{{post.name}}</h2>
                </div>
                <div>
                    <p id="content">{{post.body}}</p>
                    <div id="post-footer" class="flex-box">
                        <div class="buttons">
                            <a href="{{ url_for('post_update', id=post.id) }}">Edit</a>
                        </div>
                        <div class="buttons">
                            <a href="{{ url_for('post_delete', id=post.id) }}">Delete</a>
                        </div>
                    </div>
                </div>

            </article>
        {% endfor %}
    </main>

</body>
</html>