<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <title>post | Posty</title>
</head>
<body>
    <header class="container">
        <h1>Update {{post.name}}'s post</h1>
    </header>

    <main class="container">
        <form action="{{url_for('post_update', id=post.id)}}" method="POST">
            <input autofocus type="text" name="photo_url" value="{{ post.photo_url }}" placeholder="Please past photo url here!">
            <input type="text" name="name" id="" placeholder="Enter author name here!" value="{{ post.name }}">
            <textarea name="body" id="" cols="30" rows="10" placeholder="Type your post content here!">{{ post.body }}</textarea>
            <input class="shadow" type="submit" value="Create" id="button">
        </form>
    </main>
    
</body>
</html>